body {
  /* background-image: url("./assets/background.svg");
  background-size: cover; */
  background-image: linear-gradient(
    180deg,
    #3f51b1 0%,
    #5a55ae 15%,
    #7b5fac 35%,
    #8f6aae 55%,
    #a86aa4 70%,
    #cc6b8e 83%,
    #f18271 100%
  );
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.boat {
  width: 15vw;
  position: absolute;
  bottom: 5vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 10;
}

.water {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 9;
}

.hill {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 8;
}

.lanterns {
  position: absolute;
  width: 3rem;
  height: 3rem;
  transform-origin: 50% 80%;
  z-index: 20;
}

.lantern-img {
  width: 3rem;
  height: 3rem;
  filter: drop-shadow(0 0 1rem rgb(253, 204, 113));
}
